.POpTextHeader{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    color: #111A45;
    text-align: right;
}


.PopAcep1 {
    padding: 10px 30px;
    border: none;
    background: #97162E;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    border-radius: 6px;
}


.PopAcep2 {
    padding: 10px 30px;
    border: none;
    background-color: #888DA2;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    border-radius: 6px;

}
.PopAcep3{
    padding: 10px 30px;
    border: none;
    background: #2563EB;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    border-radius: 6px;

}

.PopAcep4{
    padding: 10px 30px;
    border: none;
    background: #111A45;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    border-radius: 6px;

}
.dialog{
    padding: 10px 30px;
    border: none;
    color: #111A45;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    border-radius: 6px;   

    label{
        color: #888DA2;
        margin: 0px 2px;
    }
}
::ng-deep .BasicInput.p-inputtext {
    background: #F5F7FB !important;
    font-family: 'Tajawal' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 22px !important;
    color: #888DA2 !important;
  }
  