<section class="p-4">
    <div>
        <p-table [value]="listOfPrizoners" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '50rem' }"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10, 25, 50]">
            <ng-template pTemplate="header">
                <tr>
                    <th></th>

                    <th style="text-align: center;">تاريخ الجلسة</th>
                    <th style="text-align: center;">رقم الملف</th>
                    <th style="text-align: center;">وجه الاتهام</th>
                    <th style="text-align: center;">الرقم القومى</th>
                    <th style="text-align: center;">الاسم بالكامل</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr 
                [class.bg-danger]="item.galsaDate > dayBeroreToday && item.galsaDate < currentDate"
                [class.bg-warning]="item.galsaDate < dayBeroreToday"
                [class.text-white]="item.galsaDate > dayBeroreToday && item.galsaDate < currentDate" >
                    <td class="text-center">
                    <a class="btn" 
                    [class.btn-outline-light]="item.galsaDate > dayBeroreToday && item.galsaDate < currentDate"

                    [class.btn-outline-primary]="!(item.galsaDate > dayBeroreToday && item.galsaDate < currentDate)"


                            (click)="selectedPrizenoer = item;display = true"><i class="bi bi-sliders"></i></a></td>
                    <td style="text-align: center;">{{ formatedFun(item.galsaDate)}}</td>
                    <td style="text-align: center;">{{ item.fileNumber }}</td>
                    <td style="text-align: center;">{{ item.accusation }}</td>
                    <td style="text-align: center;">{{ item.nationalNumber || 'لا يوجد'}}</td>
                    <td style="text-align: center;">{{ item.name }}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
                <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
            </ng-template>
            <ng-template pTemplate="paginatorright">
                <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
            </ng-template>
        </p-table>
    </div>

</section>




<p-dialog dir="rtl" [(visible)]="display" [modal]="true" [blockScroll]="true" [draggable]="false"
    [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
    <ng-template pTemplate="header">
        <div class="text-end POpTextHeader  w-100">
            إجراءات النزلاء </div>
    </ng-template>

    <div class="dialog">

        من فضلك حدد الاجراء الذى سيتم اتخاذه مع هذا السجين

    </div>

    <ng-template pTemplate="footer">
        <div class="d-flex justify-content-start">
            <input type="submit" class="btn PopAcep4 mx-2 w-25  " (click)="Print()" value="عرض البيانات">
            <input type="button" class="btn PopAcep3 mx-2 w-25  " (click)="edit()" value="تعديل">
            <input type="button" class="btn PopAcep1 mx-2 w-25  " (click)="SetRule(1)" value="حذف">
            <input type="submit" class="btn PopAcep2 mx-2 w-25  " (click)="SetRule(2)" value="نقل لجهة خارجية">
        </div>
    </ng-template>
</p-dialog>



<p-dialog dir="rtl" [(visible)]="display2" [modal]="true" [blockScroll]="true" [draggable]="false"
    [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
    <ng-template pTemplate="header">
        <div class="text-end POpTextHeader  w-100">
            نقل نزيل لجهة خارجية</div>
    </ng-template>

    <div class="dialog">
        <p>من فضلك ادخل اسم المكان الذي سيتم نقل السجين اليه
        </p>
        <div class=" col-12 pe-1">
            <div class="mb-3">
                <input #Place type="text" pInputText class="w-100 text-end BasicInput" dir="rtl"
                    placeholder="اسم الجهة الخارجية">
            </div>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <div class="d-flex justify-content-start">
            <input type="button" class="btn PopAcep3 mx-2 w-25 " (click)="updatePlace(Place.value)" value="حفظ">
            <input type="button" class="btn PopAcep2 mx-2 w-25 " (click)="display2 = false ; display = true"
                value="إلغاء">
        </div>
    </ng-template>

</p-dialog>