<div class="page">

    <div class="d-none d-lg-block">
        <img src="assets/images/logo.png" alt="">
    </div>



    <div class="box">
        <div class="form">
            <h2>تسجيل الدخول</h2>
            <div class="inputBox">
                <input type="text" [(ngModel)]="loginData.userName" required="required">
                <span>اسم المستخدم</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="number" [(ngModel)]="loginData.code" required="required">
                <span>كود المستخدم</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" [(ngModel)]="loginData.password" required="required">
                <span>كلمة السر</span>
                <i></i>
            </div>
            <a (click)="login()"><input type="submit" value="تسجيل الدخول"></a>
        </div>
    </div>


</div>